# ===========================================
# TECH CHALLENGE - VARIÁVEIS DE AMBIENTE
# ===========================================

# Database (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=blog_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/blog_db

# API
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=sua-chave
JWT_EXPIRES_IN=7d

# Mobile (Expo)
API_URL=http://localhost:3000
